* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding-top: 80px;
}
.header {
    width: 100%;
    position: fixed;
    top: 0;
}
.menu {
    background-color: #666666;
    text-align: center;
}
.menu ul li {
    display: inline-block;
}
.main {
    padding: 50px 0;
}
.content {
    width: 80%;
    margin: auto;
    padding: 30px;
    background-color: #eff0f1;
    height: 1000px;
}
.content h1 {
    margin-bottom: 30px;
}
.footer {
    background-color: #eff0f1;
    text-align: center;
    padding: 50px 0;
}
mark {
    background-color: yellow;
    color: black;   
    font-weight: bold;           
}
code {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
table, th, td {
    border: 1px solid black;
    text-align: center;
}
h1 {
    background-color: rgba(5, 5, 151, 0.568);
    text-shadow: 1px 1px 0px rgba(3, 3, 114, 0.568);
    color: white;
    text-align: center;
}
h2 {
    background-color: rgba(0, 128, 0, 0.514);
    color: white;
    text-align: center;
}